
<% if (results.data) { %>

<ul class="well">
<% results.data.forEach(function(sup) {  %>

	<li><a href="<%=sup.id %>"><%= sup.name %></a></li>

<%  }); %>
</ul>

<% } else { %>

				<div class="error">
				<img src="/images/error.png" class="error-message" >
				<p>This movie hasn't been made yet, bummer.</p>
				<br><br><p onclick="goBack()" class="back-btn"><a href=""><span class="glyphicon glyphicon-chevron-left"></span>Search Again</a></p>
				<input type="text" name="tag" value=""><input type="submit"></div>
			

				<% } %>